@import url(http://fonts.googleapis.com/css?family=Raleway:200);

@bodyWidth: 750px;

@verticalRhythm: 36px;

@indentWidth: 2em;

@backgroundColor: rgb(240, 240, 240);
@highlightColor: rgb(65, 83, 83);
@bodyColor: rgb(64, 64, 64);

@bodyFont: 'Skolar', Georgia, serif;

body {
  margin: 0;
  padding: 0;
  background: @backgroundColor;

  font-size: 20px;
  font-family: @bodyFont;

  font-weight: 300;

  color: @bodyColor;
}

section.main {
  position: relative;

  width: @bodyWidth;
  margin: 0 auto;

  //background: -webkit-linear-gradient(rgba(255, 0, 0, .25), transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  background-size: 100% @verticalRhythm;
  background-position: 0 0;

  padding-top: @verticalRhythm;
  padding-bottom: @verticalRhythm;
}
h1 {
  font-family: 'MenschRegular';
  font-weight: 400;

  text-align: center;

  color: @highlightColor;
  text-shadow: 0 1px 2px white;
  letter-spacing: -2px;
  word-spacing: -.15em;
  font-size: 48px;

  text-rendering: optimizeLegibility;

  margin: 0;
  padding: 0;

  margin-top: @verticalRhythm;
  padding-top: 1px + @verticalRhythm * 2 - 1px;
  height: @verticalRhythm - 1px;
  line-height: @verticalRhythm;
  margin-bottom: @verticalRhythm;

  border-top: 1px solid fadeout(@highlightColor, 80%);
}
p, 
h3,
ul {
  line-height: @verticalRhythm;
  margin: 0;
  padding-top: 12px;
  padding-bottom: @verticalRhythm - 12px;
  padding-left: 5px;
  padding-right: 5px;
}
li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  margin-bottom: @verticalRhythm;

  text-indent: -@indentWidth;
  margin-left: @indentWidth;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: @verticalRhythm * 1.5;
  font-style: italic;
}

.box {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);  
}

h3,
em {
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  color: black;
}
em {
  line-height: 1;
  background: white;
  padding: 0 7px;

  white-space: nowrap;

  .box;
}

.stat {
  text-align: center;
}
.stat .number {
  display: block;
}
.stat .number > span {
  font-family: 'MenschThin';
  font-weight: 300;
  font-size: 48px * 2; 

  display: inline-block;
  text-align: center;
  color: @highlightColor;
  margin-top: @verticalRhythm * 1.2;
  height: @verticalRhythm * 1.8 + 1px;
  line-height: @verticalRhythm * 1.8;

  position: relative;
  top: -3px;

  letter-spacing: -5px;
  text-rendering: optimizeLegibility;

  background: white;
  padding: 0 20px;
  padding-right: 30px;

  .box;
}
.number .perc {
  line-height: 0;
  font-family: 'Raleway', Arial;
  font-weight: 300;
  font-size: 80%;
}



@font-face {
    font-family: 'MenschRegular';
    src: url('../fonts/mensch/mensch-wf.eot');
    src: url('../fonts/mensch/mensch-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mensch/mensch-wf.woff') format('woff'),
         url('../fonts/mensch/mensch-wf.ttf') format('truetype'),
         url('../fonts/mensch/mensch-wf.svg#MenschMenschRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBold';
    src: url('../fonts/mensch/mensch-bold-wf.eot');
    src: url('../fonts/mensch/mensch-bold-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mensch/mensch-bold-wf.woff') format('woff'),
         url('../fonts/mensch/mensch-bold-wf.ttf') format('truetype'),
         url('../fonts/mensch/mensch-bold-wf.svg#MenschMenschBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschBoldInline';
    src: url('../fonts/mensch/mensch-inline-wf.eot');
    src: url('../fonts/mensch/mensch-inline-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mensch/mensch-inline-wf.woff') format('woff'),
         url('../fonts/mensch/mensch-inline-wf.ttf') format('truetype'),
         url('../fonts/mensch/mensch-inline-wf.svg#MenschMenschBoldInline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MenschThin';
    src: url('../fonts/mensch/mensch-thin-wf.eot');
    src: url('../fonts/mensch/mensch-thin-wf.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mensch/mensch-thin-wf.woff') format('woff'),
         url('../fonts/mensch/mensch-thin-wf.ttf') format('truetype'),
         url('../fonts/mensch/mensch-thin-wf.svg#MenschMenschThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

img.side {
  width: 220px;
  float: right;
  //position: absolute;
  //right: 0;
  margin-left: 15px;
  margin-top: 15px;
  border: 10px solid white;

  .box;

  -webkit-transform: rotateZ(1.5deg);
}