# disable directory browsing
Options All -Indexes

# password-protect the directory in which this htaccess rule resides
AuthType basic
AuthName "Top Secret"
AuthUserFile /app/www/.htpasswd
Require valid-user