/* General styles */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);

html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  background: white;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
* {
  -webkit-font-smoothing: antialiased;    
}
#content {
  position: absolute;
  left: 250px;
  top: 20px;
  right: 10px;
  bottom: 20px;
}
@media print {
  #content {
    position: static;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
  }
}
#content > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  display: none;

  outline: 1px solid rgb(150, 150, 150);    
  z-index: 1000;

  overflow: auto;

  background: rgb(240, 240, 240);
}
#content > div#loading {
  z-index: 500;
  text-align: center;
  display: -webkit-box !important;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: rgb(128, 128, 128);
}

#content > div.selected {
  display: block;
  position: relative;
}

#content iframe {
  border: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
@media print {
  #content img {
    max-width: 100% !important;
  }
}

nav {
  position: absolute;
  left: -10px;
  top: 20px;
  width: 240px;
  z-index: 5000;
  bottom: 0;
  overflow-y: auto;
}
@media print {
  nav {
    display: none;
  }
}
nav h1 {
  color: rgb(65, 103, 103);

  line-height: 28px;
  padding-left: 30px;
  font-size: 100%;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0 1px 1px white;
}
nav h2 {
  line-height: 28px;
  padding-left: 30px;
  font-size: 100%;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;    
  text-shadow: 0 1px 1px white;
}

nav a {
  display: block;
  line-height: 28px;
  padding-left: 30px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(64, 64, 64);
  
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
nav a:hover {
  color: black;
  background: rgba(245, 147, 49, .5);

}
nav a.selected {
  font-weight: 600;
  background: rgb(245, 147, 49);
  color: black;
}