@backgroundColour: rgb(240, 240, 240);
@variableColour: rgb(80, 140, 200);

@missingColour: rgb(220, 50, 50);

body {
  background: @backgroundColour;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

.box-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

header {
  background: rgb(230, 230, 230);
  left: 0;
  bottom: 0;
  top: 0;
  width: 220px;
  padding: 20px;

  display: block;
  list-style: none;

  position: fixed;

  .box-shadow;
}
#variables {
  padding: 0;
  margin: 0;

  margin-bottom: 20px;

  color: @variableColour;
}
#variables li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.var-template {
  color: @variableColour;
}
body.fill-in-variables .var-template,
body:not(.fill-in-variables) .fill-template {
  display: none;
}

.missing {
  color: @missingColour;
}

#templates {
  margin: 10px 0;
  margin-left: 230px;

  list-style: none;
}

#templates li {
  color: rgb(40, 40, 40);

  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  width: 200px;
  height: 200px;
  vertical-align: top;
  background: white;
  border-radius: 3px;

  .box-shadow;

  position: relative;
}
#templates li h1 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: normal;
  background: rgb(230, 230, 230);
  color: rgb(150, 150, 150);
  font-size: 11px;
  line-height: 25px;
  padding-left: 20px;
}